.row.grid-15-gutter {
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.row.grid-15-gutter [class*="col-"] {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.panel-read, .panel-unread {
    
    padding: 10px;
    margin-bottom: 15px;
}
.panel-unread{
    border: 1px solid #676565;
}